
<button class="hamburger" id="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
</button>

<div class="controller" id="sidebar">

    <div class="logo-container">
        <img alt="logo">
        <p>made by Kaiden-A</p>
    </div>
    <div class="navigation">
        <p>navigation</p>
        <ul>
            <li>
                <img src="/images/dashboard.png" alt="homedashboard" class="icon">
                <a href="/admin">Admin Dashboard</a>
            </li>
            <li>
                <img src="/images/addPost.png" alt="add post" class="icon"> 
                <a href="/admin/post/blog">create new post</a>
            </li>
        </ul>
    </div>

</div>