<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/styles/sign.css">
</head>
<body>

    <div class="container">
        <div class="header">
            <h1>Hello !!</h1>
            <p>enter your email , username and password to start</p>

        </div>
    </div>
    
    <form class="form-container">
        <label name="email">Email</label>
        <input type="email" name="email" required>

        <label name="username">User Name</label>
        <input type="text" name="username" required>

        <label name="password">password</label>
        <input type="password" name="password" required>

        <button>Submit</button>
        <div class="form-footer">
            <p>Already have account? <a href="/admin/login">Sign In</a></p>
        </div>
    </form>

    <script src="/scripts/signUp.js"></script>
</body>
</html>